{% extends "base.html" %}

{% block title %}商品詳細{% endblock %}

{% block content %}
<h1>商品詳細</h1>
<table class="table table-bordered table-striped table-hover">
    <tbody>
        <tr>
            <th>商品名</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>価格</th>
            <td>{{ object.price }} 円</td>
        </tr>
        <tr>
            <th>カテゴリ</th>
            <td>{{ object.category.name }}</td>
        </tr>
        <tr>
            <th>商品画像</th>
            <td>
                {% if object.image %}
                    <img src="{{ object.image.url }}" alt="商品画像" style="max-width:200px; max-height:200px;">
                {% else %}
                    画像なし
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>詳細説明</th>
            <td style="white-space: pre-wrap; padding: 1em; font-size: 1.1em; line-height: 1.6;">
                {{ object.description }}
            </td>
        </tr>
    </tbody>
</table>

<p style="margin-top: 1em;">
    <a href="{% url 'list' %}" class="btn btn-secondary">戻る</a>
</p>
{% endblock %}
